nav ul li {
  display: inline;
  margin-right: 10px;
  }
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-left: 0.3em;
}
.input {
  margin: 0.4em;
  padding: 0.4em;
}
#title {
  font-size: 2em;
}
#reference_1 {
  margin-bottom: 0.8em;
}
.search_parameters_seperator {
  border-bottom: 1.6px solid black;
  padding-bottom: 0.8em;
}
.error {
  color: red;
}
/*boootstrap*/
.card {
  padding: 0.5em;
  margin: 0.35em;
}
.col-sm-3, .col-sm-4, .col-sm-8, .col-sm-9, .col-md-5, .col-md-2, .col-sm-12 {
  padding-right: 0.1em;
  padding-left: 0.1em;
}
.container-fluid {
  padding: 1.5em;
}
/*bootstrap*/
/*tooltips*/
.Tooltip {
  width: 10px;
  font-size: large;
  font-family: courier;
  color: dodgerblue;
  text-align: left;
  margin-left: 1px;
  opacity: 0.7;
}
.tooltip-inner {
  background-color: #404040;
  border: 1px solid black;
}
/*tooltips*/
/*graph containers*/
.graphs_vertical {
  width: 100%;
  height: 33%;
}           
.graph_border {
  border-bottom: 1.6px solid #303030;
  padding-bottom: 0.5em;
}
.graphs_horizontal {
  float: right;
  width: 29%;
  height: 95%;
  border-left: 1.6px solid #303030;
  padding-right: 0.8em;
  padding-left: 0.5em;
}
#query1 {
  height: 800px;
}
#query2 {
  height: 800px;
}
#both {
  height: 260px;
}
.col-md-5 .card-header {    
  text-align: center;
}
#graphs_horizontal {
  float: left;
  height: 100%;
}
/*graph containers*/
/*tables*/
#table_both_container {
  float: left;
  width: 13%;
  height: 260px;
  overflow: auto;
  padding-right: 0.8em;
}
#table_both {
  width: 100%;
  height: 95%;
}
tr {
  border-bottom: 1px solid #707070;
}
#overview {
  width: 100%;
}
#overview td {
  height: 3.5em;
}
.table_left {
  text-align: left;
}
.table_middle {
  text-align: center;
}
.table_right {
  text-align: right;
}
.complete-tables tr:nth-child(even) {
  background-color: #f2f2f2;
}
.last_row {
  border-bottom: none;
}
/*tables*/