header {
	background-color: #95A37A;
	margin: 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	display: block;
}

header h1 {
	font-size: 24px;
	margin: auto 10px;
	float: left;
	border-style: solid;
	display: block;
}

nav ul {
	display: block;
	position: relative;
	list-style-type: none;
	margin: auto auto;
	padding: 0;
	overflow: hidden;
	border-style: solid;
}

nav ul li {
	float: left;
	border-style: solid;
}

nav ul li a {
	display: block;
	text-align: center;
	padding: 0px 16px 0px;
	text-decoration: none;
}